// page hero
.page-hero-wrapper {
  padding-top: 7.8125rem;
}

.page-hero {
  padding: 2.5rem;
  border-radius: 0.25rem;

  &__content {
    .page-hero__back-link {
      font-size: 1rem;

      span {
        vertical-align: middle;
      }
    }

    .page-hero__subtitle {
      margin-bottom: 0.9375rem;
      font-size: 1.5rem;
      line-height: 1.21;
    }

    .btn-main {
      width: 266px;
    }
  }

  &--acquiring {
    background-color: #F0F5FA;

    .page-hero__content {
      h1 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
      }

      .btn-main {
        margin-top: 2.5rem;
      }
    }
  }

  &--tollpayments {
    padding-right: 0;
    background-color: #FAE4AB;

    .page-hero__content {
      h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 3rem;
      }

      .page-hero__subtitle {
        font-size: 1.75rem;

        & + p {
          font-size: 1.25rem;
        }
      }

      .btn-main {
        margin-top: 2rem;
      }
    }

    .page-hero__img {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      padding-bottom: 2.375rem;
    }
  }
}

// promo
.home-promo {
  &--tollpayments {
    h2 {
      margin-bottom: 1.25rem;
    }

    & > p {
      margin-bottom: 0.625rem;
    }
  }
}

// acquiring process
.acquiring-process {
  h2 {
    margin-bottom: 2.5rem;
  }

  .acquiring-process__text {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .acquiring-process__footer {
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }
}

.acquiring-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 540px;
  margin-bottom: 1.25rem;
  padding: 2.8125rem;
  border-radius: 0.25rem;
  background-color: #F0F5FA;

  &__sticker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.625rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    pointer-events: none;

    & > svg {
      margin-right: 0.625rem;
    }

    &--buyer {
      width: 144px;
    }

    &--acquirer {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      font-size: 1.125rem;
      line-height: 1.2222222;

      &.acquirer-ipay {
        img {
          width: 104px;
        }
      }
    }

    &--ipay {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;

      img {
        height: 2rem;
      }
    }

    &--logo {
      & > img {
        & + img {
          margin-left: 1.4375rem;
        }
      }
    }
  }
}

.acquiring-card__arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.acquiring-arrow, .acquiring-card__arrows {
  &::before, &::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 24px;
    bottom: -24px;
  }

  &--1 {
    &::before {
      left: calc(50% - 4px);
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 24.5165C3.84171 24.7118 4.15829 24.7118 4.35355 24.5165L7.53553 21.3345C7.7308 21.1393 7.7308 20.8227 7.53553 20.6274C7.34027 20.4322 7.02369 20.4322 6.82843 20.6274L4 23.4559L1.17157 20.6274C0.976312 20.4322 0.659729 20.4322 0.464467 20.6274C0.269205 20.8227 0.269205 21.1393 0.464467 21.3345L3.64645 24.5165ZM3.5 0.162964L3.5 24.163L4.5 24.163L4.5 0.162964L3.5 0.162964Z' fill='%23E84F35'/%3E%3C/svg%3E");
    }
  }

  &--2 {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 0.80941C4.15829 0.614148 3.84171 0.614148 3.64645 0.80941L0.464466 3.99139C0.269204 4.18665 0.269204 4.50324 0.464466 4.6985C0.659728 4.89376 0.976311 4.89376 1.17157 4.6985L4 1.87007L6.82843 4.6985C7.02369 4.89376 7.34027 4.89376 7.53553 4.6985C7.7308 4.50324 7.7308 4.18665 7.53553 3.99139L4.35355 0.80941ZM3.5 1.16296L3.5 25.163L4.5 25.163L4.5 1.16296L3.5 1.16296Z' fill='%23172A3A'/%3E%3C/svg%3E");
    }
  }

  &--3 {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 0.80941C4.15829 0.614148 3.84171 0.614148 3.64645 0.80941L0.464466 3.99139C0.269204 4.18665 0.269204 4.50324 0.464466 4.6985C0.659728 4.89376 0.976311 4.89376 1.17157 4.6985L4 1.87007L6.82843 4.6985C7.02369 4.89376 7.34027 4.89376 7.53553 4.6985C7.7308 4.50324 7.7308 4.18665 7.53553 3.99139L4.35355 0.80941ZM3.5 1.16296L3.5 2.16296L4.5 2.16296L4.5 1.16296L3.5 1.16296ZM3.5 4.16296L3.5 6.16296L4.5 6.16296L4.5 4.16296L3.5 4.16296ZM3.5 8.16296L3.5 10.163L4.5 10.163L4.5 8.16296L3.5 8.16296ZM3.5 12.163L3.5 14.163L4.5 14.163L4.5 12.163L3.5 12.163ZM3.5 16.163L3.5 18.163L4.5 18.163L4.5 16.163L3.5 16.163ZM3.5 20.163L3.5 22.163L4.5 22.163L4.5 20.163L3.5 20.163ZM3.5 24.163L3.5 25.163L4.5 25.163L4.5 24.163L3.5 24.163Z' fill='%23172A3A'/%3E%3C/svg%3E");
    }
  }

  &--4 {
    &::after {
      width: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='24' viewBox='0 0 16 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.455857C8.31658 0.0653328 7.68342 0.0653328 7.29289 0.455857L0.928932 6.81982C0.538408 7.21034 0.538408 7.84351 0.928932 8.23403C1.31946 8.62456 1.95262 8.62456 2.34315 8.23403L8 2.57718L13.6569 8.23403C14.0474 8.62456 14.6805 8.62456 15.0711 8.23403C15.4616 7.84351 15.4616 7.21034 15.0711 6.81982L8.70711 0.455857ZM7 1.16296L7 25.163L9 25.163L9 1.16296L7 1.16296Z' fill='%23172A3A'/%3E%3C/svg%3E");
    }
  }
}

.acquiring-arrow {
  &--2, &--3 {
    &::after {
      left: calc(50% + 12px);
    }

    &:not(.acquiring-arrow--1) {
      &::after {
        left: calc(50% - 4px);
      }
    }
  }

  &--4 {
    &::after {
      left: calc(50% + 8px);
    }

    &:not(.acquiring-arrow--1) {
      &::after {
        left: calc(50% - 8px);
      }
    }
  }
}

.acquiring-card__arrows {
  &::before, &::after {
    top: -24px;
    bottom: auto;
  }

  &--2, &--3 {
    &::after {
      left: calc(50% + 12px);
    }

    &:not(.acquiring-card__arrows--1) {
      &::after {
        left: calc(50% - 4px);
      }
    }
  }

  &--4 {
    &::after {
      left: calc(50% + 8px);
    }

    &:not(.acquiring-card__arrows--1) {
      &::after {
        left: calc(50% - 8px);
      }
    }
  }
}

// page info
.page-info {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: #F0F5FA;

  &__content {
    p {
      line-height: 1.21;
    }
  }
}

// form
.section-wrapper {
  &.section-form {
    margin-top: 3.75rem;
  }
}

@include until($lg) {
  .page-hero-wrapper {
    padding-top: 8.875rem;
  }

  .page-hero {
    &--tollpayments {
      .page-hero__img {
        padding-top: 6.25rem;
      }
    }
  }

  .acquiring-card {
    height: 500px;

    &--right {
      margin-top: 2.5rem;
    }
  }
}

@include until($md) {
  .page-hero-wrapper {
    padding-top: 5.375rem;
  }

  .page-hero {
    padding: 0.9375rem;

    &__content {
      .btn-main {
        width: 100%;
      }
    }

    &--acquiring {  
      .page-hero__content {
        h1 {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
          font-size: 1.5rem;
        }
  
        .page-hero__subtitle {
          font-size: 1rem;
        }

        .btn-main {
          margin-top: 1.25rem;
          margin-bottom: 2.5rem;
        }
      }
    }

    &--tollpayments {  
      .page-hero__content {
        h1 {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
          font-size: 1.5rem;
        }
  
        .page-hero__subtitle {
          font-size: 1.25rem;
  
          & + p {
            font-size: 1rem;
          }
        }
  
        .btn-main {
          margin-top: 1.25rem;
        }
      }
  
      .page-hero__img {
        margin-right: -0.9375rem;
      }
    }
  }

  .acquiring-process {
    h2 {
      margin-bottom: 1.25rem;
    }

    .acquiring-process__text {
      font-size: 1rem;
    }

    .acquiring-process__footer {
      margin-top: 1.25rem;
      font-size: 1rem;
    }
  }

  .acquiring-card {
    height: 330px;
    padding: 1.75rem;

    &--right {
      margin-top: 1.875rem;
    }

    &__sticker {
      min-height: 2.25rem;
      padding: 0.375rem;
      font-size: 0.625rem;

      & > svg {
        width: 24px;
        height: 24px;
        margin-right: 0.375rem;
      }

      &--buyer {
        width: 88px;
      }

      &--acquirer {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 0.6875rem;
      }

      &--ipay {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;

        img {
          height: 20px;
        }
      }

      &--logo {
        & > img {
          & + img {
            margin-left: 0.875rem;
          }

          &:nth-child(1) {
            width: 30px;
          }

          &:nth-child(2) {
            width: 42px;
          }

          &:nth-child(3) {
            width: 24px;
          }
        }
      }
    }
  }

  .acquiring-arrow, .acquiring-card__arrows {
    &::before, &::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 16px;
      bottom: -16px;
    }
  
    &--1 {
      &::before {
        left: calc(50% - 2px);
        background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.28394 15.4357C2.40327 15.555 2.59673 15.555 2.71606 15.4357L4.6606 13.4912C4.77993 13.3718 4.77993 13.1784 4.6606 13.059C4.54128 12.9397 4.34781 12.9397 4.22848 13.059L2.5 14.7875L0.771517 13.059C0.65219 12.9397 0.458723 12.9397 0.339397 13.059C0.22007 13.1784 0.22007 13.3718 0.339397 13.4912L2.28394 15.4357ZM2.19444 0.552979L2.19445 15.2196L2.80556 15.2196L2.80556 0.552979L2.19444 0.552979Z' fill='%23E84F35'/%3E%3C/svg%3E");
      }
    }
  
    &--2 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.71606 0.281376C2.59673 0.162049 2.40327 0.162049 2.28394 0.281376L0.339396 2.22592C0.220069 2.34525 0.220069 2.53871 0.339396 2.65804C0.458723 2.77737 0.65219 2.77737 0.771517 2.65804L2.5 0.929557L4.22848 2.65804C4.34781 2.77737 4.54128 2.77737 4.6606 2.65804C4.77993 2.53871 4.77993 2.34525 4.6606 2.22592L2.71606 0.281376ZM2.19444 0.497437L2.19445 15.1641L2.80556 15.1641L2.80556 0.497437L2.19444 0.497437Z' fill='%23172A3A'/%3E%3C/svg%3E");
      }
    }
  
    &--3 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.60498 0.836918C2.48565 0.717591 2.29218 0.717591 2.17286 0.836918L0.228312 2.78146C0.108985 2.90079 0.108985 3.09426 0.228312 3.21358C0.347639 3.33291 0.541106 3.33291 0.660433 3.21358L2.38892 1.4851L4.1174 3.21358C4.23673 3.33291 4.43019 3.33291 4.54952 3.21358C4.66885 3.09426 4.66885 2.90079 4.54952 2.78146L2.60498 0.836918ZM2.08336 1.05298L2.08336 1.66409L2.69447 1.66409L2.69447 1.05298L2.08336 1.05298ZM2.08336 2.88631L2.08336 4.10853L2.69447 4.10853L2.69447 2.88631L2.08336 2.88631ZM2.08336 5.33076L2.08336 6.55298L2.69447 6.55298L2.69447 5.33076L2.08336 5.33076ZM2.08336 7.7752L2.08336 8.99742L2.69447 8.99742L2.69447 7.7752L2.08336 7.7752ZM2.08336 10.2196L2.08336 11.4419L2.69447 11.4419L2.69447 10.2196L2.08336 10.2196ZM2.08336 12.6641L2.08336 13.8863L2.69447 13.8863L2.69447 12.6641L2.08336 12.6641ZM2.08336 15.1085L2.08336 15.7196L2.69447 15.7196L2.69447 15.1085L2.08336 15.1085Z' fill='%23172A3A'/%3E%3C/svg%3E");
      }
    }
  
    &--4 {
      &::after {
        width: 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93212 1.06532C4.69347 0.826662 4.30653 0.826662 4.06788 1.06532L0.178792 4.9544C-0.0598615 5.19306 -0.0598615 5.57999 0.178792 5.81864C0.417446 6.0573 0.80438 6.0573 1.04303 5.81864L4.5 2.36168L7.95697 5.81864C8.19562 6.0573 8.58255 6.0573 8.82121 5.81864C9.05986 5.57999 9.05986 5.19306 8.82121 4.9544L4.93212 1.06532ZM3.88889 1.49744L3.88889 16.1641L5.11111 16.1641L5.11111 1.49744L3.88889 1.49744Z' fill='%23172A3A'/%3E%3C/svg%3E");
      }
    }
  }

  .acquiring-arrow {
    &--2, &--3 {
      &::after {
        left: calc(50% + 8px);
      }
  
      &:not(.acquiring-arrow--1) {
        &::after {
          left: calc(50% - 2px);
        }
      }
    }
  
    &--4 {
      &::after {
        left: calc(50% + 6px);
      }
  
      &:not(.acquiring-arrow--1) {
        &::after {
          left: calc(50% - 6px);
        }
      }
    }
  }
  
  .acquiring-card__arrows {
    &::before, &::after {
      top: -16px;
      bottom: auto;
    }
  
    &--2, &--3 {
      &::after {
        left: calc(50% + 8px);
      }
  
      &:not(.acquiring-card__arrows--1) {
        &::after {
          left: calc(50% - 2px);
        }
      }
    }
  
    &--4 {
      &::after {
        left: calc(50% + 6px);
      }
  
      &:not(.acquiring-card__arrows--1) {
        &::after {
          left: calc(50% - 6px);
        }
      }
    }
  }

  .home-promo:not(.home-promo--tollpayments) {
    & > .row {
      & > [class^=col] {
        &:first-of-type {
          .promo-card {
            margin-top: 0.625rem;
          }
        }
      }
    }
  }

  .page-info {
    padding: 1rem;

    &__img {
      margin-bottom: 1.25rem;
      text-align: center;
    }
  }

  .section-wrapper {
    &.section-page {
      &.section-form {
        margin-top: 2.5rem;
      }
    }
  }
}