// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;

// fonts
$font-main: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// colors
$color-main: #172A3A;
$color-secondary: #7C9CAC;
$color-accent: #E84F35;

// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;