.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .container, .wrapper .container-fluid, .wrapper .container-lg, .wrapper .container-md, .wrapper .container-sm, .wrapper .container-xl, .wrapper .container-xxl {
  --bs-gutter-x: 1.875rem;
}
@media (min-width: 1200px) {
  .wrapper .container, .wrapper .container-sm, .wrapper .container-md, .wrapper .container-lg, .wrapper .container-xl {
    max-width: 1140px;
  }
}
.wrapper .row {
  --bs-gutter-x: 1.875rem;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.header, .footer {
  flex: 0 0 auto;
}

.section-wrapper {
  margin-top: 6.25rem;
}

@media screen and (max-width: 991px) {
  .section-wrapper {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .section-wrapper {
    margin-top: 1.875rem;
  }
  .section-wrapper.section-page {
    margin-top: 2.5rem;
  }
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

article, footer, header, menu, nav, section,
aside, main {
  display: block;
}

img {
  max-width: 100%;
  border: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  color: #172A3A;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  margin-bottom: 0.9375rem;
  font-size: 3rem;
  line-height: 1.20833;
}

h2 {
  font-size: 2rem;
  line-height: 1.21875;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.45;
}

p, li {
  font-size: 1.125rem;
}

a {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.45;
  color: #172A3A;
}
a:hover {
  color: #172A3A;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.45;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.45;
  }
  p, li {
    font-size: 1rem;
  }
}
.row.row--16 {
  --bs-gutter-x: 1rem;
}
.row.row--20 {
  --bs-gutter-x: 1.25rem;
}
.row.row--40 {
  --bs-gutter-x: 2.5rem;
}
@media screen and (max-width: 991px) {
  .row.row--40 {
    --bs-gutter-x: 1.875rem;
  }
}

.btn.btn-main {
  height: 3.5rem;
  padding: 0.8125rem 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #E84F35;
}
.btn.btn-main:hover {
  background-color: #d23318;
}
.btn.btn-main:active {
  color: #fff;
  border-color: transparent;
  background-color: #E84F35;
}

.promo-card {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
}
.promo-card__img {
  flex: 0 0 auto;
  margin-bottom: 0.9375rem;
}
.promo-card__content h3 {
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 991px) {
  .promo-card {
    flex-direction: row;
  }
  .promo-card__img {
    flex-basis: 4.0625rem;
    padding-right: 0.9375rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.4s ease;
}
.header.scrolled {
  background-color: #13202D;
}
.header.scrolled .header-nav {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #fff;
  transition: all 0.4s ease;
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo > a {
  margin-right: 1.625rem;
}
.header-logo__text {
  display: inline-flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 500;
  pointer-events: none;
}

.header-list {
  margin-left: auto;
}
.header-list ul {
  display: flex;
}
.header-list .header-list__link {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
.header-list .header-list__link svg {
  fill: #fff;
}
.header-list .header-list__link span {
  margin-left: 0.25rem;
  vertical-align: middle;
}
.header-list li + li {
  margin-left: 4.5rem;
}

.header-lang {
  margin-left: 4.375rem;
}
.header-lang .header-lang__btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
}
.header-lang .header-lang__btn span {
  vertical-align: middle;
}
.header-lang .header-lang__btn svg {
  stroke: #fff;
}
.header-lang .dropdown-menu {
  min-width: auto;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 20px rgba(97, 144, 183, 0.15);
}
.header-lang .dropdown-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.1875;
}
.header-lang .dropdown-item:hover {
  background-color: #F0F5FA;
}
.header-lang li:first-child .dropdown-item {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.header-lang li:last-child .dropdown-item {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.header.header-page:not(.scrolled) .header-logo .header-logo__text {
  color: #7C9CAC;
}
.header.header-page:not(.scrolled) .header-list .header-list__link {
  color: #172A3A;
}
.header.header-page:not(.scrolled) .header-list .header-list__link svg {
  fill: #172A3A;
}
.header.header-page:not(.scrolled) .header-lang .header-lang__btn {
  color: #172A3A;
}
.header.header-page:not(.scrolled) .header-lang .header-lang__btn svg {
  stroke: #172A3A;
}

@media screen and (max-width: 1199px) {
  .header-logo > a {
    margin-right: 1rem;
  }
  .header-logo__text {
    font-size: 1rem;
  }
  .header-list li + li {
    margin-left: 3rem;
  }
  .header-lang {
    margin-left: 3.5rem;
  }
}
@media screen and (max-width: 991px) {
  .header-logo {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-logo > a {
    margin-right: 0;
  }
  .header-logo__text {
    flex-direction: row;
  }
  .header-logo__text > span:first-child {
    margin-right: 0.25rem;
  }
}
@media screen and (max-width: 767px) {
  .header-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header-logo > a {
    margin-bottom: 0.375rem;
  }
  .header-logo > a img {
    height: 35px;
  }
  .header-logo__text {
    font-size: 0.75rem;
  }
  .header-list {
    display: none;
  }
}
.footer {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
.footer .footer-copyright {
  margin-bottom: 0.625rem;
  font-size: 1rem;
  color: #7C9CAC;
}
.footer .footer-text {
  font-size: 0.75rem;
  color: #7C9CAC;
}

.footer-nav {
  margin-bottom: 3rem;
}

.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo > a {
  margin-right: 0.75rem;
}
.footer-logo > a img {
  width: 85px;
}
.footer-logo__text {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.6875rem;
  line-height: 1.1;
  font-weight: 500;
  color: #E84F35;
  pointer-events: none;
}

.footer-list {
  margin-left: auto;
}
.footer-list ul {
  display: flex;
}
.footer-list li + li {
  margin-left: 3.875rem;
}
.footer-list .footer-list__link {
  font-size: 1rem;
  font-weight: 500;
}
.footer-list .footer-list__link span {
  margin-left: 0.25rem;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .footer-nav {
    margin-bottom: 1.5rem;
  }
  .footer-logo {
    margin-bottom: 1.5rem;
  }
  .footer-list ul {
    flex-direction: column;
    text-align: center;
  }
  .footer-list li + li {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
.section-form {
  padding-bottom: 3.625rem;
}

.form {
  padding: 2.5rem;
  font-family: "Roboto", sans-serif;
  border-radius: 0.25rem;
  background-color: #172A3A;
}
.form h2 {
  margin-bottom: 2.125rem;
  color: #fff;
}
.form .form-group {
  position: relative;
  margin-bottom: 1rem;
}
.form .form-group .form-control {
  height: 3.5rem;
  padding: 1.625rem 0.8125rem 0.375rem;
  font-size: 1.125rem;
  line-height: 1.25;
  color: #172A3A;
  border: 3px solid #DEE7F3;
  border-radius: 0.5rem;
}
.form .form-group .form-control:focus {
  border-color: #7C9CAC;
}
.form .form-group .form-control::-moz-placeholder {
  color: #7C9CAC;
}
.form .form-group .form-control::placeholder {
  color: #7C9CAC;
}
.form .form-group textarea.form-control {
  height: auto;
  padding: 0.9375rem 0.8125rem;
  font-size: 1.25rem;
  line-height: 1;
}
.form .form-group .form-label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  color: #7C9CAC;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
}
.form .form-group.has-error .form-control {
  border-color: #FFD0CE;
}
.form .form-group.has-error .form-control:focus {
  border-color: #FFD0CE;
}
.form .form-group.has-error .help-block {
  margin-top: 2px;
  color: #E84F35;
  font-size: 0.875rem;
}
.form .form-submit {
  margin-top: 2.125rem;
}
.form .btn-submit {
  height: 5rem;
  font-size: 1.375rem;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #E84F35;
}
.form .btn-submit.btn-block {
  width: 100%;
}
.form .btn-submit:hover {
  background-color: #d23318;
}
.form .btn-submit:active {
  color: #fff;
  border-color: transparent;
  background-color: #E84F35;
}

@media screen and (max-width: 991px) {
  .section-form {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .section-form {
    padding-bottom: 0;
  }
  .form {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .form h2 {
    margin-bottom: 1.875rem;
    font-size: 1.5rem;
  }
  .form .btn-submit {
    height: 3.5rem;
  }
}
@media screen and (max-width: 575px) {
  .form {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    border-radius: 0;
    overflow: hidden;
  }
}
.diamond {
  position: absolute;
  border: 2px dashed #212530;
  transform: rotate(45deg);
}
.diamond::before, .diamond::after {
  position: absolute;
  content: "";
  border: 2px dashed #212530;
}
.diamond--1 {
  top: -100px;
  left: calc(50% - 190px);
  width: 264px;
  height: 264px;
  border-radius: 55px;
}
.diamond--1::before {
  top: -54px;
  left: -54px;
  width: 368px;
  height: 368px;
  border-radius: 68px;
}
.diamond--1::after {
  top: -106px;
  left: -106px;
  width: 468px;
  height: 468px;
  border-radius: 66px;
}
.diamond--2 {
  top: 128px;
  left: calc(50% + 272px);
  width: 480px;
  height: 480px;
  border-radius: 72px;
}
.diamond--2::before {
  top: -65px;
  left: -65px;
  width: 606px;
  height: 606px;
  border-radius: 117px;
}
.diamond--2::after {
  top: -124px;
  left: -124px;
  width: 722px;
  height: 722px;
  border-radius: 117px;
}
.diamond--3 {
  top: 120px;
  left: calc(50% - 620px);
  transform: translateX(-50%) rotate(45deg);
  width: 1218px;
  height: 1218px;
  border-radius: 117px;
}
.diamond--3::before {
  top: 54px;
  left: 54px;
  width: 1064px;
  height: 1064px;
  border-radius: 117px;
}
.diamond--3::after {
  top: 114px;
  left: 114px;
  width: 985px;
  height: 985px;
  border-radius: 93px;
}
.diamond--4 {
  top: 306px;
  left: calc(50% - 622px);
  transform: translateX(-50%) rotate(45deg);
  width: 897px;
  height: 897px;
  border-radius: 93px;
}
.diamond--4::before {
  top: 64px;
  left: 64px;
  width: 864px;
  height: 864px;
  border-color: #1A2631;
  border-radius: 93px;
}
.diamond--4::after {
  top: 148px;
  left: 147px;
  width: 864px;
  height: 864px;
  border-color: #152536;
  border-radius: 93px;
}
.diamond--5 {
  top: 614px;
  left: calc(50% - 622px);
  transform: translateX(-50%) rotate(45deg);
  width: 864px;
  height: 864px;
  border-color: #132334;
  border-radius: 93px;
}
.diamond--5::before {
  top: 64px;
  left: 64px;
  width: 864px;
  height: 864px;
  border-color: #142434;
  border-radius: 93px;
}
.diamond--5::after {
  top: 148px;
  left: 147px;
  width: 864px;
  height: 864px;
  border-color: #172635;
  border-radius: 93px;
}

@media screen and (max-width: 767px) {
  .diamonds {
    display: none;
  }
}
.home-hero {
  position: relative;
  padding-top: 9.6875rem;
  padding-top: 10.75rem;
  background: linear-gradient(to top, #fff, #fff 92px, #13202D 92px, #13202D 100%);
  overflow: hidden;
}
.home-hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 92px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
}
.home-hero .home-hero__title {
  color: #fff;
}
.home-hero .home-hero__subtitle {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.20833;
}

.hero-cards {
  position: relative;
  margin-top: 3.375rem;
  z-index: 2;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 532px;
  border-radius: 0.25rem;
}
.hero-card__content {
  padding: 2rem 2rem 0;
}
.hero-card__content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.hero-card__content a {
  color: #E84F35;
}
.hero-card--ewa {
  background-color: #DFEEFF;
}
.hero-card--acquiring {
  background-color: #E3E3E5;
}
.hero-card--payment {
  background-color: #FAE4AB;
}
.hero-card--payment img {
  align-self: flex-end;
}

.payment-methods {
  padding: 2.5rem;
  border-radius: 0.25rem;
  background-color: #F4F7FB;
}
.payment-methods h2 {
  margin-bottom: 0.9375rem;
}

.method-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-top: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
}
.method-card img {
  max-width: 100%;
}

.method-cards__slider {
  margin-top: 1.25rem;
  margin-left: -15px;
  margin-right: -15px;
}

.method-card-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.home-promo h2 {
  margin-bottom: 0.625rem;
}

.home-certified {
  padding: 1.5rem;
  border: 1px solid #F4F7FB;
  border-radius: 0.25rem;
  background-color: #E4F3E3;
}
.home-certified__content {
  max-width: 507px;
}
.home-certified__content p {
  font-size: 1.5rem;
}

.promo-award__slider {
  margin-top: 1.25rem;
  margin-left: -15px;
  margin-right: -15px;
}

.award-card-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.award-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 398px;
  border-radius: 0.25rem;
  background-color: #F4F7FB;
}
.award-card__img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.award-card__content {
  min-height: 96px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  color: #000;
  text-align: center;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.slider-dots li + li {
  margin-left: 0.625rem;
}
.slider-dots li button {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  background-color: #E3EDFC;
}
.slider-dots li.slick-active button {
  background-color: #E84F35;
}

@media screen and (max-width: 1199px) {
  .hero-card {
    height: 548px;
  }
}
@media screen and (max-width: 991px) {
  .home-hero {
    background: linear-gradient(to top, #fff, #fff 346px, #13202D 346px, #13202D 100%);
  }
  .home-hero::before {
    height: 346px;
  }
  .hero-cards {
    margin-top: 2.5rem;
  }
  .hero-card {
    flex-direction: row;
    height: 122px;
  }
  .hero-card__content {
    padding: 1rem;
  }
  .hero-card__content h3 {
    margin-bottom: 0.5rem;
  }
  .hero-card__content p {
    display: none;
  }
  .hero-card--ewa img, .hero-card--acquiring img {
    align-self: flex-end;
  }
  .hero-card--ewa img {
    margin-right: 0.6875rem;
  }
  .hero-card--payment img {
    align-self: initial;
  }
  .method-card {
    margin-top: 1.875rem;
  }
}
@media screen and (max-width: 767px) {
  .home-hero {
    padding-top: 7.6875rem;
  }
  .home-hero .home-hero__subtitle {
    display: none;
  }
  .hero-cards {
    margin-top: 1.9375rem;
  }
  .hero-card__content a {
    font-size: 1rem;
  }
  .payment-methods {
    padding: 1.5rem;
  }
  .method-card {
    margin-top: 0;
  }
  .home-certified__img {
    width: 85px;
    margin-bottom: 1rem;
  }
  .home-certified__content p {
    font-size: 1rem;
  }
  .award-card {
    height: 378px;
    height: auto;
  }
  .award-card__img {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
  .award-card__content {
    min-height: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.125rem;
    background-color: #fff;
  }
}
@media screen and (max-width: 575px) {
  .method-cards__slider {
    margin-left: -5px;
    margin-right: -5px;
  }
  .method-card-wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.page-hero-wrapper {
  padding-top: 7.8125rem;
}

.page-hero {
  padding: 2.5rem;
  border-radius: 0.25rem;
}
.page-hero__content .page-hero__back-link {
  font-size: 1rem;
}
.page-hero__content .page-hero__back-link span {
  vertical-align: middle;
}
.page-hero__content .page-hero__subtitle {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
  line-height: 1.21;
}
.page-hero__content .btn-main {
  width: 266px;
}
.page-hero--acquiring {
  background-color: #F0F5FA;
}
.page-hero--acquiring .page-hero__content h1 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}
.page-hero--acquiring .page-hero__content .btn-main {
  margin-top: 2.5rem;
}
.page-hero--tollpayments {
  padding-right: 0;
  background-color: #FAE4AB;
}
.page-hero--tollpayments .page-hero__content h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.page-hero--tollpayments .page-hero__content .page-hero__subtitle {
  font-size: 1.75rem;
}
.page-hero--tollpayments .page-hero__content .page-hero__subtitle + p {
  font-size: 1.25rem;
}
.page-hero--tollpayments .page-hero__content .btn-main {
  margin-top: 2rem;
}
.page-hero--tollpayments .page-hero__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 2.375rem;
}

.home-promo--tollpayments h2 {
  margin-bottom: 1.25rem;
}
.home-promo--tollpayments > p {
  margin-bottom: 0.625rem;
}

.acquiring-process h2 {
  margin-bottom: 2.5rem;
}
.acquiring-process .acquiring-process__text {
  font-size: 1.25rem;
  line-height: 1.2;
}
.acquiring-process .acquiring-process__footer {
  margin-top: 2.5rem;
  font-size: 1.25rem;
}

.acquiring-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 540px;
  margin-bottom: 1.25rem;
  padding: 2.8125rem;
  border-radius: 0.25rem;
  background-color: #F0F5FA;
}
.acquiring-card__sticker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.625rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  pointer-events: none;
}
.acquiring-card__sticker > svg {
  margin-right: 0.625rem;
}
.acquiring-card__sticker--buyer {
  width: 144px;
}
.acquiring-card__sticker--acquirer {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.2222222;
}
.acquiring-card__sticker--acquirer.acquirer-ipay img {
  width: 104px;
}
.acquiring-card__sticker--ipay {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.acquiring-card__sticker--ipay img {
  height: 2rem;
}
.acquiring-card__sticker--logo > img + img {
  margin-left: 1.4375rem;
}

.acquiring-card__arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.acquiring-arrow::before, .acquiring-arrow::after, .acquiring-card__arrows::before, .acquiring-card__arrows::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 24px;
  bottom: -24px;
}
.acquiring-arrow--1::before, .acquiring-card__arrows--1::before {
  left: calc(50% - 4px);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 24.5165C3.84171 24.7118 4.15829 24.7118 4.35355 24.5165L7.53553 21.3345C7.7308 21.1393 7.7308 20.8227 7.53553 20.6274C7.34027 20.4322 7.02369 20.4322 6.82843 20.6274L4 23.4559L1.17157 20.6274C0.976312 20.4322 0.659729 20.4322 0.464467 20.6274C0.269205 20.8227 0.269205 21.1393 0.464467 21.3345L3.64645 24.5165ZM3.5 0.162964L3.5 24.163L4.5 24.163L4.5 0.162964L3.5 0.162964Z' fill='%23E84F35'/%3E%3C/svg%3E");
}
.acquiring-arrow--2::after, .acquiring-card__arrows--2::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 0.80941C4.15829 0.614148 3.84171 0.614148 3.64645 0.80941L0.464466 3.99139C0.269204 4.18665 0.269204 4.50324 0.464466 4.6985C0.659728 4.89376 0.976311 4.89376 1.17157 4.6985L4 1.87007L6.82843 4.6985C7.02369 4.89376 7.34027 4.89376 7.53553 4.6985C7.7308 4.50324 7.7308 4.18665 7.53553 3.99139L4.35355 0.80941ZM3.5 1.16296L3.5 25.163L4.5 25.163L4.5 1.16296L3.5 1.16296Z' fill='%23172A3A'/%3E%3C/svg%3E");
}
.acquiring-arrow--3::after, .acquiring-card__arrows--3::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 0.80941C4.15829 0.614148 3.84171 0.614148 3.64645 0.80941L0.464466 3.99139C0.269204 4.18665 0.269204 4.50324 0.464466 4.6985C0.659728 4.89376 0.976311 4.89376 1.17157 4.6985L4 1.87007L6.82843 4.6985C7.02369 4.89376 7.34027 4.89376 7.53553 4.6985C7.7308 4.50324 7.7308 4.18665 7.53553 3.99139L4.35355 0.80941ZM3.5 1.16296L3.5 2.16296L4.5 2.16296L4.5 1.16296L3.5 1.16296ZM3.5 4.16296L3.5 6.16296L4.5 6.16296L4.5 4.16296L3.5 4.16296ZM3.5 8.16296L3.5 10.163L4.5 10.163L4.5 8.16296L3.5 8.16296ZM3.5 12.163L3.5 14.163L4.5 14.163L4.5 12.163L3.5 12.163ZM3.5 16.163L3.5 18.163L4.5 18.163L4.5 16.163L3.5 16.163ZM3.5 20.163L3.5 22.163L4.5 22.163L4.5 20.163L3.5 20.163ZM3.5 24.163L3.5 25.163L4.5 25.163L4.5 24.163L3.5 24.163Z' fill='%23172A3A'/%3E%3C/svg%3E");
}
.acquiring-arrow--4::after, .acquiring-card__arrows--4::after {
  width: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='24' viewBox='0 0 16 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.455857C8.31658 0.0653328 7.68342 0.0653328 7.29289 0.455857L0.928932 6.81982C0.538408 7.21034 0.538408 7.84351 0.928932 8.23403C1.31946 8.62456 1.95262 8.62456 2.34315 8.23403L8 2.57718L13.6569 8.23403C14.0474 8.62456 14.6805 8.62456 15.0711 8.23403C15.4616 7.84351 15.4616 7.21034 15.0711 6.81982L8.70711 0.455857ZM7 1.16296L7 25.163L9 25.163L9 1.16296L7 1.16296Z' fill='%23172A3A'/%3E%3C/svg%3E");
}

.acquiring-arrow--2::after, .acquiring-arrow--3::after {
  left: calc(50% + 12px);
}
.acquiring-arrow--2:not(.acquiring-arrow--1)::after, .acquiring-arrow--3:not(.acquiring-arrow--1)::after {
  left: calc(50% - 4px);
}
.acquiring-arrow--4::after {
  left: calc(50% + 8px);
}
.acquiring-arrow--4:not(.acquiring-arrow--1)::after {
  left: calc(50% - 8px);
}

.acquiring-card__arrows::before, .acquiring-card__arrows::after {
  top: -24px;
  bottom: auto;
}
.acquiring-card__arrows--2::after, .acquiring-card__arrows--3::after {
  left: calc(50% + 12px);
}
.acquiring-card__arrows--2:not(.acquiring-card__arrows--1)::after, .acquiring-card__arrows--3:not(.acquiring-card__arrows--1)::after {
  left: calc(50% - 4px);
}
.acquiring-card__arrows--4::after {
  left: calc(50% + 8px);
}
.acquiring-card__arrows--4:not(.acquiring-card__arrows--1)::after {
  left: calc(50% - 8px);
}

.page-info {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: #F0F5FA;
}
.page-info__content p {
  line-height: 1.21;
}

.section-wrapper.section-form {
  margin-top: 3.75rem;
}

@media screen and (max-width: 991px) {
  .page-hero-wrapper {
    padding-top: 8.875rem;
  }
  .page-hero--tollpayments .page-hero__img {
    padding-top: 6.25rem;
  }
  .acquiring-card {
    height: 500px;
  }
  .acquiring-card--right {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .page-hero-wrapper {
    padding-top: 5.375rem;
  }
  .page-hero {
    padding: 0.9375rem;
  }
  .page-hero__content .btn-main {
    width: 100%;
  }
  .page-hero--acquiring .page-hero__content h1 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }
  .page-hero--acquiring .page-hero__content .page-hero__subtitle {
    font-size: 1rem;
  }
  .page-hero--acquiring .page-hero__content .btn-main {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
  .page-hero--tollpayments .page-hero__content h1 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }
  .page-hero--tollpayments .page-hero__content .page-hero__subtitle {
    font-size: 1.25rem;
  }
  .page-hero--tollpayments .page-hero__content .page-hero__subtitle + p {
    font-size: 1rem;
  }
  .page-hero--tollpayments .page-hero__content .btn-main {
    margin-top: 1.25rem;
  }
  .page-hero--tollpayments .page-hero__img {
    margin-right: -0.9375rem;
  }
  .acquiring-process h2 {
    margin-bottom: 1.25rem;
  }
  .acquiring-process .acquiring-process__text {
    font-size: 1rem;
  }
  .acquiring-process .acquiring-process__footer {
    margin-top: 1.25rem;
    font-size: 1rem;
  }
  .acquiring-card {
    height: 330px;
    padding: 1.75rem;
  }
  .acquiring-card--right {
    margin-top: 1.875rem;
  }
  .acquiring-card__sticker {
    min-height: 2.25rem;
    padding: 0.375rem;
    font-size: 0.625rem;
  }
  .acquiring-card__sticker > svg {
    width: 24px;
    height: 24px;
    margin-right: 0.375rem;
  }
  .acquiring-card__sticker--buyer {
    width: 88px;
  }
  .acquiring-card__sticker--acquirer {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.6875rem;
  }
  .acquiring-card__sticker--ipay {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .acquiring-card__sticker--ipay img {
    height: 20px;
  }
  .acquiring-card__sticker--logo > img + img {
    margin-left: 0.875rem;
  }
  .acquiring-card__sticker--logo > img:nth-child(1) {
    width: 30px;
  }
  .acquiring-card__sticker--logo > img:nth-child(2) {
    width: 42px;
  }
  .acquiring-card__sticker--logo > img:nth-child(3) {
    width: 24px;
  }
  .acquiring-arrow::before, .acquiring-arrow::after, .acquiring-card__arrows::before, .acquiring-card__arrows::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 16px;
    bottom: -16px;
  }
  .acquiring-arrow--1::before, .acquiring-card__arrows--1::before {
    left: calc(50% - 2px);
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.28394 15.4357C2.40327 15.555 2.59673 15.555 2.71606 15.4357L4.6606 13.4912C4.77993 13.3718 4.77993 13.1784 4.6606 13.059C4.54128 12.9397 4.34781 12.9397 4.22848 13.059L2.5 14.7875L0.771517 13.059C0.65219 12.9397 0.458723 12.9397 0.339397 13.059C0.22007 13.1784 0.22007 13.3718 0.339397 13.4912L2.28394 15.4357ZM2.19444 0.552979L2.19445 15.2196L2.80556 15.2196L2.80556 0.552979L2.19444 0.552979Z' fill='%23E84F35'/%3E%3C/svg%3E");
  }
  .acquiring-arrow--2::after, .acquiring-card__arrows--2::after {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.71606 0.281376C2.59673 0.162049 2.40327 0.162049 2.28394 0.281376L0.339396 2.22592C0.220069 2.34525 0.220069 2.53871 0.339396 2.65804C0.458723 2.77737 0.65219 2.77737 0.771517 2.65804L2.5 0.929557L4.22848 2.65804C4.34781 2.77737 4.54128 2.77737 4.6606 2.65804C4.77993 2.53871 4.77993 2.34525 4.6606 2.22592L2.71606 0.281376ZM2.19444 0.497437L2.19445 15.1641L2.80556 15.1641L2.80556 0.497437L2.19444 0.497437Z' fill='%23172A3A'/%3E%3C/svg%3E");
  }
  .acquiring-arrow--3::after, .acquiring-card__arrows--3::after {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.60498 0.836918C2.48565 0.717591 2.29218 0.717591 2.17286 0.836918L0.228312 2.78146C0.108985 2.90079 0.108985 3.09426 0.228312 3.21358C0.347639 3.33291 0.541106 3.33291 0.660433 3.21358L2.38892 1.4851L4.1174 3.21358C4.23673 3.33291 4.43019 3.33291 4.54952 3.21358C4.66885 3.09426 4.66885 2.90079 4.54952 2.78146L2.60498 0.836918ZM2.08336 1.05298L2.08336 1.66409L2.69447 1.66409L2.69447 1.05298L2.08336 1.05298ZM2.08336 2.88631L2.08336 4.10853L2.69447 4.10853L2.69447 2.88631L2.08336 2.88631ZM2.08336 5.33076L2.08336 6.55298L2.69447 6.55298L2.69447 5.33076L2.08336 5.33076ZM2.08336 7.7752L2.08336 8.99742L2.69447 8.99742L2.69447 7.7752L2.08336 7.7752ZM2.08336 10.2196L2.08336 11.4419L2.69447 11.4419L2.69447 10.2196L2.08336 10.2196ZM2.08336 12.6641L2.08336 13.8863L2.69447 13.8863L2.69447 12.6641L2.08336 12.6641ZM2.08336 15.1085L2.08336 15.7196L2.69447 15.7196L2.69447 15.1085L2.08336 15.1085Z' fill='%23172A3A'/%3E%3C/svg%3E");
  }
  .acquiring-arrow--4::after, .acquiring-card__arrows--4::after {
    width: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93212 1.06532C4.69347 0.826662 4.30653 0.826662 4.06788 1.06532L0.178792 4.9544C-0.0598615 5.19306 -0.0598615 5.57999 0.178792 5.81864C0.417446 6.0573 0.80438 6.0573 1.04303 5.81864L4.5 2.36168L7.95697 5.81864C8.19562 6.0573 8.58255 6.0573 8.82121 5.81864C9.05986 5.57999 9.05986 5.19306 8.82121 4.9544L4.93212 1.06532ZM3.88889 1.49744L3.88889 16.1641L5.11111 16.1641L5.11111 1.49744L3.88889 1.49744Z' fill='%23172A3A'/%3E%3C/svg%3E");
  }
  .acquiring-arrow--2::after, .acquiring-arrow--3::after {
    left: calc(50% + 8px);
  }
  .acquiring-arrow--2:not(.acquiring-arrow--1)::after, .acquiring-arrow--3:not(.acquiring-arrow--1)::after {
    left: calc(50% - 2px);
  }
  .acquiring-arrow--4::after {
    left: calc(50% + 6px);
  }
  .acquiring-arrow--4:not(.acquiring-arrow--1)::after {
    left: calc(50% - 6px);
  }
  .acquiring-card__arrows::before, .acquiring-card__arrows::after {
    top: -16px;
    bottom: auto;
  }
  .acquiring-card__arrows--2::after, .acquiring-card__arrows--3::after {
    left: calc(50% + 8px);
  }
  .acquiring-card__arrows--2:not(.acquiring-card__arrows--1)::after, .acquiring-card__arrows--3:not(.acquiring-card__arrows--1)::after {
    left: calc(50% - 2px);
  }
  .acquiring-card__arrows--4::after {
    left: calc(50% + 6px);
  }
  .acquiring-card__arrows--4:not(.acquiring-card__arrows--1)::after {
    left: calc(50% - 6px);
  }
  .home-promo:not(.home-promo--tollpayments) > .row > [class^=col]:first-of-type .promo-card {
    margin-top: 0.625rem;
  }
  .page-info {
    padding: 1rem;
  }
  .page-info__img {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  .section-wrapper.section-page.section-form {
    margin-top: 2.5rem;
  }
}/*# sourceMappingURL=custom.css.map */